
.body-text{
  margin-top: 20px;
  color: #2784ee;
  font-size: 25px;
  height: 0px;
  text-align: center;
  
}

.body--icon {
  margin-top: 100px;
  height: 400px;
  display: block;
  margin: auto;
}

.logo--div
{
  margin-top: 50px;
  margin-bottom: 30px;
}
body {
  margin: 0;
  font-family: Inter,sans-serif;
  height: 100vh;
  background-color: #222292;
}
.generator--box{
  text-align: center;
}

.generator--box button{
  background-color: dodgerblue;
  width: 120px;
  height: 30px;
  padding: 0;
  margin: 5px;
  gap: 0;
  margin-bottom: 8.3px;
  margin-left: 5px;
}

.generator--box button:hover {
  cursor: pointer;
  background-color: rgb(22, 101, 180);
}

.passbox
{
  margin-top: 10px;
}

.formUl
{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 13rem;
}

.loginFormUl
{
  display: flex;
  padding: 0;
  margin: 0;
  gap: 10rem;
}

.signupPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainerSignup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 500px;
  padding: 20px;
  border: 2px solid dodgerblue;
  border-radius: 5px;
  font-weight: normal;
  color: #707070;
}

span {
  height: 10px;
  color: rgb(15, 15, 15);
}

h2 {
  font-size: 32px;
  line-height: 38.4px;
  color: rgb(7, 7, 7);
  text-align: center;
}

.body-background
{
  background-color:rgb(49, 49, 49);
}

.navbar-text
{
  margin-left: 1100px;
  font-size: 19px;
}
.nav-text
{
  margin-left: 50px;
}

.nav-text:hover
{
  background-color: rgb(25, 38, 218);
}
.slider
{
  width: 300px;
}

b
{
  font-size: 20px;
  color: dodgerblue;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  
  
}

.Auth-form {
  width: 500px;
  height: 500px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 90px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: dodgerblue;
  
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
  
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 26px;
  font-weight: 800;
  color: white;
}

label {
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.error-text {
  color: white;
  text-align: center;
}

.custom-btn {
  margin-top: 20px;
  width: 380px;
  
}

.btn-flat {
  background-color:  rgb(25, 38, 218) !important;
  color:  dodgerblue;
}
.btn-flat:hover{
  background-color: rgb(15, 36, 228) !important;
  color:  rgb(22, 101, 180);
}
