
.body--logo_text{
  color: #2784ee;
  font-size: 22px;
  margin-left: 7px;
  height: 0px;
  text-align: center;
}

.body--icon {
  height: 250px;
  text-align: center;
}

.logo--div {
  width: 250px;
  margin: 0 auto;
}
body {
  margin: 0;
  font-family: Inter,sans-serif;
  height: 100vh;
  background-color: #f1f1f5;
}
.generator--box{
  text-align: center;
}

.signupPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainerSignup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 500px;
  padding: 20px;
  border: 2px solid dodgerblue;
  border-radius: 5px;
  font-weight: normal;
  color: #707070;
}

.formContainerLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 350px;
  padding: 20px;
  border: 2px solid dodgerblue;
  border-radius: 5px;
  font-weight: normal;
  color: #707070;
}

.formContainerLogin #inputCreateUser {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #858585;;
  border-radius: 3px;
  padding-left: 10px;
  font-size: 17px;
}

.formContainerLogin button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: lightskyblue;
  border-radius: 5px;
  color: white;
  width: 140px;
  background-color: #0572ec;
  box-shadow: inset 0 0 0 1px #0572ec;
}

.formContainerLogin button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

.formContainerSignup #inputCreateUser {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #858585;;
  border-radius: 3px;
  padding-left: 10px;
  font-size: 17px;
}

.formContainerSignup button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: lightskyblue;
  border-radius: 5px;
  color: white;
  width: 140px;
  background-color: #0572ec;
  box-shadow: inset 0 0 0 1px #0572ec;
}

.formContainerSignup button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

.account
{
  color: dodgerblue;
  text-decoration: none;
  display: stretch;
  justify-content: space-between;
  padding: .25rem;
}

span {
  height: 10px;
  color: red;
}

h2 {
  font-size: 32px;
  line-height: 38.4px;
  color: rgb(7, 7, 7);
  text-align: center;
}
